<section class="student-details">
  <div class="container mt-3">
    <div class="row">
      <div class="col-md-5 mx-auto">
        <div class="card container shadow-lg">
          <div class="card-body">
            <h2 class="text-info mb-3">
              {{ studentDetails.firstName }} Detials with ID:
              <i class="text-danger">{{ studentDetails.id }}</i>
            </h2>
            <hr />

            <img
              src="{{ studentDetails.avatar }}"
              class="card-img-top img-fluid"
              alt="{{ studentDetails.firstName }}"
              onerror="this.src='assets/images/no-image.png';"
            />
            <div class="card-body">
              <p class="card-title list-group-item disabled">
                <b>Full Name:</b> {{ studentDetails.firstName }}
                {{ studentDetails.lastName }}
              </p>
              <div class="card-text">
                <p class="list-group-item disabled">
                  <b>School Name:</b> {{ studentDetails.schoolName }}
                </p>
                <p class="list-group-item disabled">
                  <b>Email Address: </b>{{ studentDetails.email }}
                </p>
                <p class="list-group-item disabled">
                  <b>Phone Number: </b> {{ studentDetails.phone }}
                </p>
                <p class="list-group-item disabled">
                  <b>Scholarhip Amount: </b>

                  {{ studentDetails.scholarship | currency }}
                </p>
                <br />
                <br />
                <a routerLink="/students" class="btn btn-outline-dark btn-lg">
                  <i class="fa fa-chevron-left"></i>&nbsp;
                  <b>Back</b> </a
                >&nbsp;&nbsp;
                <a
                  routerLink="/edit/{{ studentDetails.id }}"
                  class="btn btn-outline-dark btn-lg"
                >
                  <i class="fa fa-pencil">&nbsp; <b>Edit</b></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
