<section class="edit-student">
  <div class="container mt-3">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card container shadow-lg p-3">
          <h2 class="text-success">Update Student's Record</h2>
          <hr />
          <div class="card-body">
            <form [formGroup]="editStudent" (ngSubmit)="UpdateData()">
              <!-- First Name -->
              <div class="form-group">
                <div class="mb-3">
                  <label>First Name</label>
                  <input
                    type="text"
                    class="form-control form-control-lg"
                    name="firstName"
                    formControlName="firstName"
                    placeholder="Enter first name"
                    required
                  />
                </div>
              </div>

              <!-- Last Name -->
              <div class="form-group">
                <div class="mb-3">
                  <label>Last Name</label>
                  <input
                    type="text"
                    class="form-control form-control-lg"
                    name="lastName"
                    formControlName="lastName"
                    placeholder="Enter last name"
                    required
                  />
                </div>
              </div>

              <!-- Email -->

              <div class="form-group">
                <div class="mb-3">
                  <label>Email address</label>
                  <input
                    type="email"
                    class="form-control form-control-lg"
                    name="email"
                    formControlName="email"
                    placeholder="Enter email address"
                    required
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                  />
                </div>
              </div>

              <!-- Phone -->
              <div class="form-group">
                <div class="mb-3">
                  <label>Phone</label>
                  <input
                    type="text"
                    class="form-control form-control-lg"
                    name="phone"
                    formControlName="phone"
                    placeholder="Enter phone number"
                  />
                </div>
              </div>
              <!-- School Name -->
              <div class="form-group">
                <div class="mb-3">
                  <label>School Name</label>
                  <input
                    type="text"
                    class="form-control form-control-lg"
                    name="schoolName"
                    formControlName="schoolName"
                    placeholder="Enter school name"
                  />
                </div>
              </div>
              <!-- Scholarshop -->
              <div class="form-group">
                <div class="mb-3">
                  <label>Amount of Scholarship</label>
                  <input
                    type="text"
                    class="form-control form-control-lg"
                    name="scholarship"
                    formControlName="scholarship"
                    placeholder="Enter amount of scholarship"
                  />
                </div>
              </div>

              <!-- Avatar -->
              <div class="form-group" style="display: none">
                <div class="mb-3">
                  <label>Avatar</label>
                  <input
                    type="file"
                    class="form-control form-control-lg"
                    name="avatar"
                    formControlName="avatar"
                  />
                </div>
              </div>
              <button class="btn btn-outline-success btn-lg font-weight-bold">
                UPDATE
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
